In [1]:
import pandas as pd

In [2]:
dict = {'Science':[12,56,24],'Maths':[134,45,645]}
df = pd.DataFrame(dict)

In [3]:
# Dataframe created from the dictionary
df

   Science  Maths
0       12    134
1       56     45
2       24    645

In [6]:
df.describe()

         Science       Maths
count   3.000000    3.000000
mean   30.666667  274.666667
std    22.744963  323.790570
min    12.000000   45.000000
25%    18.000000   89.500000
50%    24.000000  134.000000
75%    40.000000  389.500000
max    56.000000  645.000000

In [2]:
list = [1,2,3,4,4]
list[:]

[1, 2, 3, 4, 4]

In [6]:
list = [1,2,3,4,4]
new_list = [4,5,6,7]
new_list

[4, 5, 6, 7]

In [15]:
list1 = [1,2,3,4]
list2 = [8,1,2,4]

print(list1+list2)

[1, 2, 3, 4, 8, 1, 2, 4]